<html>
<html>
<body>
<div class="topnav">
  <a href="http://localhost:5000/welcome">Home</a>
  <a href="http://localhost:5000/myteams">Add a Team</a>
  <a href="http://localhost:5000/deleteteam">Remove a Team</a>
  <a href="http://localhost:5000/logout">Log Out</a>
</div>



<form action="/deleteteam" method="post">

Select a team and click the button:
  <select id="mySelect" name="mySelect">
    <option>Liverpool</option>
    <option>Tottenham</option>
    <option>Arsenal</option>
    <option>Man United</option>
    <option>Chelsea</option>
    <option>Wolverhampton</option>
    <option>Watford</option>
    <option>West Ham</option>
    <option>Leicester City</option>
    <option>Everton</option>
    <option>Bournemouth</option>
    <option>Newcastle</option>
    <option>Crystal Palace</option>
    <option>Brighton Hove</option>
    <option>Southampton</option>
    <option>Burnley</option>
    <option>Cardiff</option>
    <option>Fulham</option>
    <option>Huddersfield</option>
  </select>
  <input type="submit" value="Submit" id="submit">
</form>





</body>
</html>
