<!DOCTYPE html>
<html>
    <head>
        <title>Teams</title>
    </head>
    <body>
    
    <!--View Teams-->

    
<form action="" method="POST">
	<div class="form-group">
	<label class="form-control" for="teamname"><b>Add Team</b></label>
    <input class="form-control" type="text" placeholder="Enter Team" name="teamname" required>
    <!--Auto gen ID-->
	
	<!--Should this take in the id?-->
	<label class="form-control" for="teamname"><b>Delete Team</b></label>
    <input class="form-control" type="text" placeholder="Enter Team" name="teamname" required>
	</div>
</form>
   <!--Delete by ID-->
    </body>
</html>